@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.animate-loading {
  animation: loading 4s linear infinite;
}